extends layouts/homeLayout
include mixins/postBlock

block content
    each post in posts
        +postBlock({
            thumbnail: post.thumbnail,
            title: post.title,
            description: post.description
        })