extends layouts/main

block content
    form(action=`${routes.write}`, method="post" enctype="multipart/form-data")
        input(type="text", id="title" name="title" placeholder="제목을 입력하세요")
        .thumbnail
            label(for="thumbnail") 대표 사진
             input(type="file", id="thumbnail", name="thumbnail", accept="image/*")
        textarea(name="description",  required=true)
        input(type="submit" value="완료")

