body {
  color: var(--color-font-black);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  overflow-x: hidden;
  height: 100%;
}

.favicon {
  width: 55px;
  height: 55px;
  border-radius: 100%;
}
